body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 1400px;
    
}
header {
    background: #333335 url(../img/header-bg.jpg) no-repeat top center;
    color: #fff;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 116px;
    padding: 44px 2px 116px 7px;
}
.container {
    padding-right: 230px;
    padding-left: 230px;
}
nav {
    display: flex;
}
nav img {
    width: 79px;
    height: 28px;
    margin-right: 376px;
}
.header-nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}
.header-nav li {
    text-transform: uppercase;
    margin-right: 42px;
}
.header-nav li:last-child {
    margin-right: 0;
}
.header-nav a {
    text-decoration: none;
    color: #fff;
}
.header-nav a:hover {
    text-decoration: underline;
}
.header-welcome {
    margin: 0;
    margin-top: 200px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
header h1 {
    margin: 0;
    margin-top: 51px;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-btn {
    display: inline-block;
    width: 240px;
    margin-top: 59px;
    margin-left: 350px;
    padding-top: 24px;
    padding-bottom: 26px;
    background-color: #fed136;
    color: #484543;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
.header-btn:hover {
    text-decoration: underline;
    background-color: #fed172;
}
.services {
    padding-top: 120px;
    padding-bottom: 117px;
}
.services h2 {
    margin: 0;
    font-size: 40px;
    line-height: 75px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.section-subhead {
    margin: 0;
    text-align: center;
    color: #777777;
}
.section-advantages {
    display: flex;
    justify-content: center;
    margin-top: 78px;
}
.advantage-item {
    display: flex;
    flex-direction: column;
    flex-basis: 248px;
    margin-right: 50px;
}
.advantage-item:last-child {
    margin-right: 0;
}
.advantage-item img {
    margin: 0 auto;
    width: 74px;
    height: 73px;
}
.advantage-item h3 {
    margin: 0;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: #222222;
}
.advantage-item p {
    margin: 0;
    margin-top: 15px;
    color: #777777;
    text-align: center;
    letter-spacing: -0.35px;
}
.portfolio {
    padding-top: 119px;
    padding-bottom: 134px;
    background: #f7f7f7;
}
.portfolio h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
}
.portfolio-subhead {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #777777;
    font-size: 16px;
}
.portfolio-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}
.about {
    padding-top: 127px;
    padding-bottom: 100px;
}
.about h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
}
.about-subhead {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #777777;
    font-size: 16px;
}
.achieve-item {
    display: flex;
    margin-top: 77px;
}
.achieve-item:nth-of-type(odd) {
    text-align: right;
}
.achieve-desc {
    width: 283px; 
}
.achieve-desc:nth-child(odd) {
    margin-right: 38px;
    margin-left: 57px;
}
.achieve-desc:nth-child(even) {
    margin-left: 38px;
}
.achieve-desc h3 {
    margin: 0;
    color: #222222;
    font-size: 18px;
}
.achieve-desc h3:first-child {
    text-transform: uppercase;
    padding-bottom: 8px;
}
.achieve-desc p {
    margin: 0;
    margin-top: 18px;
    color: #777777;
    letter-spacing: -0.35px;
}
.achieve-item img {
    border: 5px solid #f1f1f1;
    border-radius: 50%;
}
.achieve-item img:nth-child(odd) {
    margin-left: 379px;
}
footer {
    margin-top: 30px;
    margin-bottom: 112px;
}
footer p {
    margin: 0;
    text-align: center;
    color: #555555;
}